$c_blue : #3f72dd;
$c_blue_light : #14a6de;
$c_blue_lighter: #54bdd2;
$c_blue_dark : #3b5998;
$c_gray_light : #c5ddf4;
$c_red: #ff004e;

$c_white: #ffffff;

$t_size_3xl: 75px;
$t_size_2xl: 30px;
$t_size_xl: 25px;
$t_size_lg: 18px;
$t_size_md: 15px;
$t_size_sm: 12px;

$t_font: "'Roboto', sans-serif";